.menuSticky {
  position: -webkit-fixed; /* Safari */
  position: fixed;
  right: 0;
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin-top: 5em;
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
  align-items: center;
  z-index: 1000;
}
.menuContainer{
    display: flex;
    justify-content: center;
    max-height: 28px;
    width: -webkit-fill-available;
    padding: 0.5em;
}

